body {
  background-image: url('/images/panel_bck.jpg') !important;
}

.hidden {
  opacity: 0;
}

.search.ui {
  width: 100%;
}

.analytics.ui {
  margin-top: 0.2rem !important;
  margin-left: 1rem !important;
}

#like-stats-total {
  height: 0px;
}

.ui .filters.dropdown {
  position: relative;
  margin-top: 0.8rem;
  left: -15px;
}

.ui .filters .ui.avatar.image {
  position: relative;
  top: -4px;
  right: -4px;
}


#total-likes {
  color: #0EBFE9;
}

#total-likes-today {
  color: rgba(64,64,64,.5);
  font-weight: bold;
}

#results .ui.card>.content>.header, .ui.cards>.card>.content>.header {
  text-align: left;
}

.meta {
  max-height: 200px;
  overflow: hidden;
  text-align: left;
  padding-top: 0.9rem;
}

.card-type {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
  background: white;
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
  border-top-right-radius: 2.3px;
  border-bottom-right-radius: 2.3px;
  box-shadow: 1px 1px 1px rgba(64,64,64,.4);
}

.card-time {
  position: absolute;
  top: 0px;
  right: 0px;
  width: auto;
  font-size: 0.9em;
  font-weight: 500;
  color: #0EBFE9;
  padding: 5px;
  background-color: white;
  border-top-left-radius: 2.3px;
  border-bottom-left-radius: 2.3px;
  box-shadow: 1px 1px 1px rgba(64,64,64,.4);
}

.card-type.link {
  background-image: url('/images/link_icon.png');
}

.card-type.photo {
  background-image: url('/images/image_icon.png');
}

.card-type.video {
  background-image: url('/images/video_icon.png');
}

.likes.icon {
  background-image: url('/images/likes_icon.png');
}

.shares.icon {
  background-image: url('/images/shares_icon.png');
}

._comments.icon {
  background-image: url('/images/comments_icon.png');
}

.extra.content span {
  padding-right: 1rem !important;
}
